<div class="container">
  <% if @recipes.count == 0 %>
    <h1>No recipes found for these ingredients. Please put some more ingredients, and we will find you something amazing to cook.</h1>
  <% elsif @recipes.count == 0 %>
    <h2>1 recipe found:</h2>
  <% else %>
    <h1><%= @recipes.count %> recipes found:</h1>
  <% end %>
  <div class="listing">
    <% @recipes.each do |recipe| %>
      <div class="listing-item">
        <%= image_tag recipe.url_image %>
        <div class="listing-item-infos">
          <div>
            <h2><%= recipe.name %></h2>
            <p><%= recipe.description[0..200].strip %>...</p>
          </div>
          <div class="listing-item-tags">
            <% recipe.ingredients.each do |ingredient| %>
              <div class="listing-item-tag">
                <%= ingredient.name %>
              </div>
            <% end %>
            </div>
        </div>
        <!-- Button linking external recipe -->
        <%= link_to 'See more', recipe.url.url, target: :_blank, class: "listing-item-expand" %>
      </div>
    <% end %>
  </div>
</div>
