<div class="container">
  <div class="ingredients-page">
      <br>
      <br>
      <br>



  <%= simple_form_for :multiple_search, url: recipes_path, method: :get do |f| %>
    <div class="search-form-control">

      <% collection = @ingredient_groups.map { |ing| [ing.name, ing.id, @searched_ingredient_groups.include?(ing) ? {"selected" => "selected"} : ""] } %>
      <%= f.input :multiple_search, collection: collection, input_html: { multiple: true, class: "select2-form search-form-control", include_blank: false }, label: false %>
      <br>
      <button name="button" type="submit" class="button-search btn btn-flat" id="search">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
    <% if @found_recipes.count == 0 %>
      <h2>No recipes found for these ingredients. Please put some more ingredients, and we will find you something amazing to cook.</h2>
    <% elsif @found_recipes.count == 0 %>
      <h2>1 recipe found:</h2>
    <% else %>
      <h2><%= @found_recipes.count %> recipes found:</h2>
    <% end %>
    <div class="listing">
      <% @recipes.each do |recipe| %>
        <div class="listing-item">
          <%= image_tag recipe.url_image %>
          <% unless @cookbook.nil? %>
            <% if @cookbook.recipes.include?(recipe) %>
            <%= link_to cookbook_inclusion_path(CookbookInclusion.where(cookbook: @cookbook, recipe: recipe).first, from: controller_name, searched: [""] + @search), class: "heart-active", method: :delete, :confirm=>'Are you sure?', remote: true do %>
                <i class="fas fa-heart"></i>
              <% end %>
            <% elsif !@cookbook.recipes.include?(recipe) %>
              <%= link_to cookbook_cookbook_inclusions_path(@cookbook, recipe_id: recipe.id, from: controller_name, searched: @search), class: "heart", method: :post, remote: true do %>
                <i class="fas fa-heart"></i>
                <% end %>
            <% end %>
          <% end %>

          <div class="listing-item-infos">
            <div>
              <h3><%= recipe.name %></h3>


              <p><%= recipe.description[0..200].strip %>...</p>
            </div>
            <div class="listing-item-tags">
              <% recipe.ingredients.each do |ingredient| %>
                <div class="listing-item-tag">
                  <%= ingredient.name %>
                </div>
              <% end %>
              </div>
          </div>
          <!-- Button linking external recipe -->
          <%= link_to 'See more', recipe.url.url, target: :_blank, class: "listing-item-expand" %>
        </div>
      <% end %>
    </div>

    <%= will_paginate @recipes, class: "apple_pagination" %>

  </div>
</div>
